.button {
  display: inline-block;
  background-color: var(--brand-color--);
  color: white;
  border: none;
  padding: var(--spacing-s--) var(--spacing-l--);
  font-weight: var(--weight-bold--);
  border-radius: 100rem;
  margin: var(--spacing-xs--) 0 0 0;
}



.button:hover {
  background-color: var(--brand-color-hover--);
}

.button:active{
  background-color: var(--brand-color-click--);
}
