

pre, code {
  background-color: rgba(0, 0, 0, 0.12);
    display: inline-block;
    font-family: monospace;
    padding: 0 12px;
    border-radius: 2px;
    margin: 0;
    font-size: 12px;
    position: relative;
    top: -2px;
}
