html {
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(255, 203, 148,1);
  transition: background-color ease-in-out .3s;
  color : rgba(0,0,0,0.75)
}

h1{
  font-size: 8rem;
  margin: 8rem 10% 4rem 10%;
}

.smartphone,
.tablet-p,
.tablet-l,
.laptop,
.desktop {
  display: none;
  font-size: 3rem;
  font-family: sans-serif;
  margin: 0 10% 4rem 10%;
}

/*smartphones mobiles (portrait)*/
@media (max-width: 480px) {
  .smartphone {
    transform: rotate(90deg);
  }
}

@media (min-width: 480px) {
  .smartphone {
    display: none;
  }
}

/*low resolution tablets, mobiles (portrait)*/
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background: rgba(255, 179, 245, 1);
  }

  h1{
    font-size: 5rem;
  }

  .tablet-p {
    display: block;
    font-size: 1.6rem;
  }
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: rgba(158, 148, 255, 1);
  }

  .tablet-l {
    display: block;
    font-size: 2rem;
  }
}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background: rgba(166, 255, 148,1);
  }

  .tablet-l {
    display: none;
  }

  .laptop {
    display: block;
    font-size : 2.5rem;
  }
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {
  body {
    background: rgba(255, 203, 148,1);
  }

  .laptop {
    display: none;
  }

  .desktop {
    display: block;
  }
}
