#personnalities-home img {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin: auto;
}

#personnalities-home li {
  margin: var(--spacing-ml--) auto;
}

.hero-image {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background-image: url();
}
