
body {
  background: rgba(255, 203, 148, 1);
  transition: background-color ease-in-out .3s;
  color: rgba(0, 0, 0, 0.75)
}


.smartphone,
.tablet-p,
.tablet-l,
.laptop,
.desktop,
.columns {
  display: none;
  margin: 0 10% 4rem 10%;
}

.columns {
  display: block;
  columns: 300px 3;
  text-align: justify;
  column-gap: 32px;
  line-height: 2rem;
}

.columns h2, .columns h1 {
  column-span: all;
  margin: 64px 0 24px 0;
}

/*smartphones mobiles (portrait)*/
@media (max-width: 480px) {
  .smartphone {
    transform: rotate(90deg);
  }
}

@media (min-width: 480px) {
  .smartphone {
    display: none;
  }
}

/*low resolution tablets, mobiles (portrait)*/
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background: rgba(255, 179, 245, 1);
  }

  .tablet-p {
    display: block;
  }
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: rgba(158, 148, 255, 1);
  }

  .tablet-l {
    display: block;
  }
}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background: rgba(166, 255, 148, 1);
  }

  .tablet-l {
    display: none;
  }

  .laptop {
    display: block;
  }
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {
  body {
    background: rgba(255, 203, 148, 1);
  }

  .laptop {
    display: none;
  }

  .desktop {
    display: block;
  }
}
